# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
next-env.d.ts

# typescript incremental
*.tsbuildinfo

# env
.env
.env*.local

# prisma compiled seed
prisma/dist/

# docker local data
.postgres-data/

# vercel
.vercel/

# build outputs
dist/
build/
out/

# misc
*.log
*.tsbuildinfo
.DS_Store
.idea/
.vscode/

.vercel
.env*
